<div class="b-projects__album-txt-container">
    {{#if description}}
        <div class="b-projects__album-txt-container-ttl">{{description.title}}</div>
        <div class="b-projects__album-txt-container-txt">{{{description.text}}}</div>
        <ul class="b-projects__album-txt-container-list">
        {{#each description.list}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    {{/if}}
	{{#if eng}}
		<div class="b-projects__album-author-txt">
			<p>We appreciate our Clients Privacy Policy and not every project can be shown in our portfolio.</p>
			<p>Projects where XTF took part as a sub-contractor does not shown.</p>
		</div>
	{{else}}
		<div class="b-projects__album-author-txt">
			<p>Мы строго соблюдаем договоры об интеллектуальной собственности и, поэтому, не все объекты, в которых XTF принимали участие могут быть показаны в нашем портфолио.</p>
			<p>Проекты, в которых XTF принимали участие как субподрядчик не показаны.</p></p>
		</div>
	{{/if}}
</div>