.b-header.b-header_type_desk
    .container
        .b-header__inner
            a(href="/").b-header__logo XTF
            .b-header__menu
                - var menu = ['about', 'SERVICES', 'Projects', 'Careers', 'Contacts'];
                ul.b-header__menu-list
                    for item in menu
                        if item === "about"
                            li.b-header__menu-item
                                a.b-header__menu-link.is-active(href="#")= item
                        else
                            li.b-header__menu-item
                                a.b-header__menu-link(href="#")= item
            .b-header__phone
                a(href="tel:+61414084941") +6141 408 49 41
.b-header.b-header_type_mob
    .container
        .b-header__inner
            a(href="/").b-header__logo XTF
            .b-header__mobile-menu-wrap
                .b-header__mobile-menu
                    - var menu = ['about', 'SERVICES', 'Projects', 'Careers', 'Contacts'];
                        ul.b-header__menu-list
                            for item in menu
                                li.b-header__menu-item
                                    a.b-header__menu-link(href="#")= item
                .b-header__phone
                    a(href="tel:+61414084941") +6 141 408 49 41
            .b-header__hamburger.j-burger
                span.b-header__hamburger-line
                span.b-header__hamburger-line
                span.b-header__hamburger-line
                span.b-header__hamburger-line