.b-slider.j-slider.b-projects__album-slider
    .b-slider__item(style="background-image: url('../img/projects/residential/avant-garde/01.jpg');")
    .b-slider__item(style="background-image: url('../img/projects/residential/avant-garde/02.jpg');")
    .b-slider__item(style="background-image: url('../img/projects/residential/avant-garde/03.jpg');")
    .b-slider__item(style="background-image: url('../img/projects/residential/avant-garde/04.jpg');")
    .b-slider__item(style="background-image: url('../img/projects/residential/avant-garde/05.jpg');")
    .b-slider__item(style="background-image: url('../img/projects/residential/avant-garde/06.jpg');")
    .b-slider__item(style="background-image: url('../img/projects/residential/avant-garde/07.jpg');")
    .b-slider__item(style="background-image: url('../img/projects/residential/avant-garde/08.jpg');")
.b-projects__album-txt-container
    .b-projects__album-txt-container-ttl Multistory residential complex "Avant-garde"
    .b-projects__album-txt-container-txt
        p Residential complex consists of 12 sections of 17-24 levels with underground parking.
        p All frames are cast-in-place reinforced concrete. Foundations – slab on piles up to 18m long.
        p We are proud to say that XTF is providing management in this project, and our specialists developed a full set of structural documentation: geological engineering and pile field design, foundation slabs, reinforced concrete frames design, etc.
    ul.b-projects__album-txt-container-list
        li 1-4 blocks are finished in 2017;
        li 5-8 blocks are under construct;
        li 9-12 blocks are under development.
