include ../mixins/_svg-sprite-ru
include ../blocks/_layoutRu
    block title
        title Контакты
    body
        .l-wrap.l-wrap_type_contacts(style="background-image: url('../img/contacts-bg.svg')")
            .b-page__wrap
                block header
                    -var current = 'contacts'
                    include ../blocks/_headerRu
                block content
                    .container
                        .b-page
                            .b-page__inner.b-page__ttl-block
                                h1 Контакты
                                .b-page__ttl Контакты:
                                    ul
                                        li
                                            span(class="b-page__subttl") Email: &nbsp;
                                            a(href="mailto:office_ru@xtf-engineering.com") office_ru@xtf-engineering.com
                                        li
                                            span(class="b-page__subttl") Телефон: &nbsp;
                                            a(href="tel:+61449970248") +61 449 970 248
                                        li
                                            span(class="b-page__subttl") Linkedin: &nbsp;
                                            a(href="https://www.linkedin.com/company/xtf-engineering" target="_blank") linkedin.com/company/xtf-engineering
