include ../mixins/_svg-sprite-ru
include ../blocks/_layoutRu
    block title
        title Проекты
    body
        .l-wrap
            .b-page__wrap
                block header
                    -var current = 'projects'
                    include ../blocks/_headerRu
                block content
                    .container
                        .b-page
                            .b-page__inner.b-page__ttl-block.b-projects__ttl-block
                                h1 Проекты
                            .b-tabs__list.b-projects__tabs.b-projects__tabs_lang_ru
                                button.j-tabs-link.b-tabs__link.b-tabs__link_lang_ru.is-active(data-link="residential" data-json="../json/residentialRu.json") Жилищное <br/>строительство
                                button.j-tabs-link.b-tabs__link.b-tabs__link_lang_ru(data-link="commercial" data-json="../json/commercialRu.json") Коммерческая <br/>недвижимость
                                button.j-tabs-link.b-tabs__link.b-tabs__link_lang_ru(data-link="industrial" data-json="../json/industrialRu.json") Промышленное <br/>строительство
                                button.j-tabs-link.b-tabs__link.b-tabs__link_lang_ru(data-link="privat" data-json="../json/privatRu.json") Частное <br/>строительство
                                button.j-tabs-link.b-tabs__link.b-tabs__link_lang_ru(data-link="civil" data-json="../json/civilRu.json") Объекты <br/>инфраструктуры
                            .b-tabs__content
            .b-popup.mfp-hide(id="popup")
    block scripts
        script(src="../scripts/lib/handlebars/handlebars.js")
        script(src="../scripts/lib/jquery-touchswipe/jquery.touchSwipe.js")
        script(src="../scripts/jquery.magnific-popup.min.js")
