include ../mixins/_svg-sprite-ru
include ../blocks/_layoutRu
    block title
        title Наши услуги
    body
        .l-wrap
            .b-page__wrap
                block header
                    -var current = 'services'
                    include ../blocks/_headerRu
                block content
                    .container
                        .b-page
                            .b-page__inner.b-page__ttl-block
                                h1 Наши услуги
                                .b-page__ttl
                                    p Мы разрабатываем полные комплекты архитектурных чертежей (АР, АС) и разделов несущих конструкций (КЖ, КМ, КД) от идеи и предварительных эскизов до рабочей документации и авторского надзора на строительной площадке.
                                    p Мы также работаем на условиях субподряда и можем разрабатывать любые виды работ отдельно, а также обеспечивать поддержку Генерального Проектировщика в использовании BIM-технологий.
