include mixins/_svg-sprite
include blocks/_layout
    block title
        title About
    body
        .l-wrap
            .b-page__wrap
                block header
                    -var current = 'about'
                    include blocks/_header
                block content
                    .container
                        .b-page
                            .b-page__inner.b-page__ttl-block
                                h1 Why we are different?
                                .b-page__ttl
                                    p We have combined analytical and scientific knowledge, innovative materials and technologies, and major building site experience and used the most contemporary software to ensure the highest quality of our product.
                                    p We use 3D analytical models and the finite elements method for maximum accuracy of calculations. Every 3D analytical model takes into account all aspects of building exploitation and mutual influence of all elements by considering all loads.
                                    p We create projects with the lowest cost of realisation in the shortest period, and we provide our clients with 100% guarantees of quality, safety, and comfort.

                    .b-about__advantages
                        .container
                            .b-about__advantages-inner
                                .b-about__advantages-block
                                    .b-about__advantages-block-icon
                                        +svg('responsibility')
                                    .b-about__advantages-block-txt
                                        h2 Responsibility
                                        p We have extensive experience in passing public and private examinations; all our projects are of the highest quality and comply with the requirements of the building codes and standards of the client’s country, and are always coordinated with the client, contractor, architect, and other project participants.
                                        p We guarantee 100% reliability and efficiency of all our solutions.
                                .b-about__advantages-block
                                    .b-about__advantages-block-icon
                                        +svg('international')
                                    .b-about__advantages-block-txt
                                        h2 International experience
                                        p We have been working for clients in Australia, the Russian Federation, the United States, Europe, Kazakhstan, etc.
                                .b-about__advantages-block
                                    .b-about__advantages-block-icon
                                        +svg('cost')
                                    .b-about__advantages-block-txt
                                        h2 Cost-effectiveness
                                        p By conducting accurate structural analysis and on-site experience, we ensure the highest quality for the lowest cost of construction work and easiest and most effective solutions, with no material overspending or wasting.
                                .b-about__advantages-block
                                    .b-about__advantages-block-icon
                                        +svg('24hours')
                                    .b-about__advantages-block-txt
                                        h2 24/7 support
                                        p We are responsible for our work from the first word spoken until the end of construction. If the client has any questions about our work, we are available even on weekends.
                    .b-about__sertificates
                        .container
                            .b-about__sertificates-inner
                                .row.b-about__sertificates-block
                                    .b-about__sertificates-block-sertificate-logo
                                        a(href="https://www.engineersaustralia.org.au" target="_blank").b-about__sertificates-block-logo
                                            img(src="../img/engeneers.png" alt="Engeneers")
                                    .b-about__sertificates-block-txt
                                        .b-about__sertificates-block-txt-ttl
                                            h3 Engineers Australia
                                        .b-about__sertificates-block-txt-wrap
                                            .b-about__sertificates-block-txt-inner
                                                p Engineers Australia is the largest and most diverse body of engineers in Australia. As Australia’s principal engineering association, it serves and represents around 100,000 professionals at every level, across all fields of practice. It is committed to advancing engineering and the professional development of its members.
                                                p It is the trusted authority in a profession that shapes the lives of every Australian. With countless organisations, institutions, and government agencies relying on its expertise to create, accredit, and assess engineering programs and practitioners, its proven dedication to engineers and the Australian industry is unparalleled.
                                .row.b-about__sertificates-block
                                    .b-about__sertificates-block-sertificate-logo
                                        a(href="https://www.autodesk.com/products/robot-structural-analysis/overview" target="_blank").b-about__sertificates-block-logo
                                            img(src="../img/autodesk-robot.png" alt="Autodesk-robot")
                                    .b-about__sertificates-block-txt
                                        .b-about__sertificates-block-txt-ttl
                                            h3 Autodesk Robot
                                        .b-about__sertificates-block-txt-wrap
                                            .b-about__sertificates-block-txt-inner
                                                p Robot Structural Analysis Professional software provides engineers with advanced BIM-integrated analysis and design tools to understand the behaviour of any structure type and verify code compliance. Robot Structural Analysis Professional structural software helps engineers more quickly perform simulation, analysis, and code-based design for any type of structure.
                                                p Autodesk Robot Structural Analysis Professional calculates even more complex models with powerful finite element auto-meshing, non-linear algorithms, and a comprehensive collection of design codes to help you achieve results in minutes, not hours.
                                                p Autodesk Robot Structural Analysis Professional offers a smoother, collaborative workflow and interoperability with 3D bidirectional links to Autodesk companion products. The open application programming interface helps provide a scalable, country-specific analysis solution for large and complex building structures.
                                .row.b-about__sertificates-block
                                    .b-about__sertificates-block-sertificate-logo
                                        a(href="https://www.autodesk.com" target="_blank").b-about__sertificates-block-logo
                                            img(src="../img/autodesk-revit.png" alt="Autodesk-revit")
                                    .b-about__sertificates-block-txt
                                        .b-about__sertificates-block-txt-ttl
                                            h3 Autodesk Revit
                                        .b-about__sertificates-block-txt-wrap
                                            .b-about__sertificates-block-txt-inner
                                                p BIM is a 3D digital representation of the physical and functional characteristics of a building facility or asset.
                                                p BIM is much more than a documentation tool. It is first a platform to manage the design development and documentation of projects. It is then the basis for project tendering and construction phase management. Finally, it offers significant benefits to the client for the ongoing running and operations of their assets when coupled with the appropriate facilities management tools.
                                                p All our projects since 2014 have been delivered using Autodesk Revit (Autodesk AutoCAD is also available if required).
                                .row.b-about__sertificates-block
                                    .b-about__sertificates-block-sertificate-logo
                                        a(href="https://www.csiamerica.com/products/etabs" target="_blank").b-about__sertificates-block-logo
                                            img(src="../img/etabs.png" alt="Etabs")
                                    .b-about__sertificates-block-txt
                                        .b-about__sertificates-block-txt-ttl
                                            h3 BIM-integrated analysis
                                        .b-about__sertificates-block-txt-wrap
                                            .b-about__sertificates-block-txt-inner
                                                p The innovative and revolutionary new ETABS 2016 is the ultimate integrated software package for the structural analysis and design of buildings. Incorporating 40 years of continuous research and development, this latest ETABS offers unmatched 3D-object-based modelling and visualisation tools, blazingly fast linear and non-linear analytical power, sophisticated and comprehensive design capabilities for a wide range of materials, and insightful graphic displays, reports, and schematic drawings that allow users to quickly and easily decipher and understand analysis and design results.
                                .row.b-about__sertificates-block
                                    .b-about__sertificates-block-sertificate-logo
                                        a(href="https://scadsoft.com/en" target="_blank").b-about__sertificates-block-logo
                                            img(src="../img/scad.png" alt="Scad")
                                    .b-about__sertificates-block-txt
                                        .b-about__sertificates-block-txt-ttl
                                            h3 SCAD office
                                        .b-about__sertificates-block-txt-wrap
                                            .b-about__sertificates-block-txt-inner
                                                p SCAD is an integrated system for finite element structural analysis and design.
                                                p SCAD is a new-generation system developed by engineers for engineers and implemented by a team of experienced programmers.
                                                p SCAD includes a highly developed library of finite elements for modelling bar, plate, solid, and combined structures, modules of stability analysis; building design stress combinations; verifying stressed state of structural elements according to various failure theories; determining forces with which a fragment affects the whole structure; and calculating forces and displacement caused by loading combinations. The system also includes routines for selecting reinforcement for ferroconcrete structural elements and for verifying cross-sections of steelwork structural elements.
                                .row.b-about__sertificates-block
                                    .b-about__sertificates-block-sertificate-logo
                                        a(href="https://www.liraland.com/lira" target="_blank").b-about__sertificates-block-logo
                                            img(src="../img/lira.png" alt="Lira")
                                    .b-about__sertificates-block-txt
                                        .b-about__sertificates-block-txt-ttl
                                            h3 LIRA-SAPR
                                        .b-about__sertificates-block-txt-wrap
                                            .b-about__sertificates-block-txt-inner
                                                p LIRA-SAPR is comprehensive software package that benefits from BIM technology. The software is intended for analysis and design of building and mechanical engineering structures serving different purposes.
                                                p Static (forces and displacements) and dynamic analyses.
                                                p Selection and checking for sections of steel and/or RC structures.
                                                p Preliminary drawings of steel structures as well as separate RC elements.
                                .row.b-about__sertificates-block
                                    .b-about__sertificates-block-sertificate-logo
                                        a(href="https://www.liraland.com/mono" target="_blank").b-about__sertificates-block-logo
                                            img(src="../img/mono.png" alt="Mono")
                                    .b-about__sertificates-block-txt
                                        .b-about__sertificates-block-txt-ttl
                                            h3 MONOMAKH-SAPR
                                        .b-about__sertificates-block-txt-wrap
                                            .b-about__sertificates-block-txt-inner
                                                p MONOMAKH-SAPR software is intended for analysis and design of monolithic reinforced concrete (RC) structures and structures with brick walls. It is possible to conduct analysis of the whole structure or its separate parts and to generate working drawings and reinforcement patterns for structural elements.
