include mixins/_svg-sprite
include blocks/_layout
    block title
        title Careers
    body
        .l-wrap.l-wrap_type_careers(style="background-image: url('../img/careers-bg.svg')")
            .b-page__wrap
                block header
                    -var current = 'careers'
                    include blocks/_header
                block content
                    .container
                        .b-page
                            .b-page__inner.b-page__ttl-block
                                h1 Careers
                                .b-page__ttl There are no open vacancies at the moment, but we are always open for talented engineers and Revit modelers, so don’t hesitate to email us your CV.
