include mixins/_svg-sprite
include blocks/_layout
    block title
        title Contacts
    body
        .l-wrap.l-wrap_type_contacts(style="background-image: url('img/contacts-bg.svg')")
            .b-page__wrap
                block header
                    -var current = 'contacts'
                    include blocks/_header
                block content
                    .container
                        .b-page
                            .b-page__inner.b-page__ttl-block
                                h1 Contacts
                                ul.b-page__list
                                    li.b-page__list-item
                                        span(class="b-page__subttl") Email: &nbsp;
                                        a(href="mailto:office_au@xtf-engineering.com") office_au@xtf-engineering.com
                                    li.b-page__list-item
                                        div(class="b-page__subttl") Phone: &nbsp;
                                        div
                                            a(href="tel:+61449970248") +61 449 970 248
                                            a(href="tel:+61414084941") +61 414 084 941
                                    li.b-page__list-item
                                        span(class="b-page__subttl") Linkedin: &nbsp;
                                        a(href="https://www.linkedin.com/company/xtf-engineering" target="_blank") linkedin.com/company/xtf-engineering
