include mixins/_svg-sprite
include blocks/_layout
    block title
        title Home
    body
        .l-wrap.l-wrap_type_home
            .b-page__wrap.b-page__wrap_type_home
                block header
                    -var pageHome = true
                    include blocks/_header
                .b-home__slider-wrap
                    .b-slider.j-home-slider
                        .b-slider__item.b-home__slider-item(style="background-image: url('img/home/slide1.jpg');")
                        .b-slider__item.b-home__slider-item(style="background-image: url('img/home/slide2.jpg');")
                        .b-slider__item.b-home__slider-item(style="background-image: url('img/home/slide3.jpg');")
                        .b-slider__item.b-home__slider-item(style="background-image: url('img/home/slide4.jpg');")
                        .b-slider__item.b-home__slider-item(style="background-image: url('img/home/slide5.jpg');")
                        .b-slider__item.b-home__slider-item(style="background-image: url('img/home/slide6.jpg');")
                        .b-slider__item.b-home__slider-item(style="background-image: url('img/home/slide7.jpg');")
                        .b-slider__item.b-home__slider-item(style="background-image: url('img/home/slide8.jpg');")
                .b-home__slider-content
                    .b-home__slider-content-ttl
                        h1 There are no too small or <br/> too complex projects.
                    .b-home__slider-content-subttl
                        p Formed in 2008, XTF brought together a group of experienced engineers, designers, and site managers who delivered landmark building projects across the globe.
                        p In 2013, we started using 3D modelling, and since 2014, all our projects have been delivered in Building Information Modelling (BIM). This significantly increased the speed, quality, and effectiveness of our work.
                        p XTF is an international structural engineering firm with offices in Sydney (Australia), Saint-Petersburg (Russian Federation), and Kharkov (Ukraine), and our engineers, modelers, and draftsmen are experienced in working according to the different building codes and standards our clients require: Australian and New Zealand standards, US standards, Eurocodes, Russian standards, and Kazakhstan standards.
                        p Our main line of business is the development of commercial, residential, and industrial building projects.
                        p These projects encompass the full spectrum of building types and range from private houses to factories and multi-storey towers.
