include mixins/all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="cmsmagazine"  content="f2d72d3408f63252b7c735ac5b026ced")
        link(rel='shortcut icon' type='image/x-icon' href='/img/favicons/favicon.ico')
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicons//favicon-16x16.png")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicons//favicon-32x32.png")
        link(rel="apple-touch-icon" sizes="57x57" href="img/favicons//apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicons//apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicons//apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="img/favicons//apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="img/favicons//apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="img/favicons//apple-icon-152x152.png")
        link(rel='stylesheet' href="/styles/magnific-popup.css")
        link(rel='stylesheet' href="/scripts/lib/slick-carousel/slick/slick.css")
        link(rel='stylesheet' href="/styles/app.css")

        block title
            title Projects
        <!--[if lte IE 9]>
        link(rel='stylesheet' href="/styles/ie.css")
        <![endif]-->
    body
        .l-wrap
            .b-header.b-header_type_desk
                .container
                    .b-header__inner
                        a(href="/index.html").b-header__logo
                            +svg('logo', 'b-page__logo_theme_dark')
                        .b-header__menu
                            ul.b-header__menu-list
                                li.b-header__menu-item
                                    a.b-header__menu-link(href="/about.html") about
                                li.b-header__menu-item
                                    a.b-header__menu-link(href="/services.html") SERVICES
                                li.b-header__menu-item
                                    a.b-header__menu-link.is-active(href="/projects.html") Projects
                                li.b-header__menu-item
                                    a.b-header__menu-link(href="/careers.html") Careers
                                li.b-header__menu-item
                                    a.b-header__menu-link(href="/contacts.html") Contacts
                        .b-header__phone
                            a(href="tel:+61414084941") +6141 408 49 41
            .b-header.b-header_type_mob
                .b-header__inner
                    a(href="/index.html").b-header__logo
                        +svg('logo', 'b-page__logo_theme_dark')
                    .b-header__mobile-menu-wrap
                        .b-header__mobile-menu
                            ul.b-header__menu-list
                                li.b-header__menu-item
                                    a.b-header__menu-link(href="/about.html") about
                                li.b-header__menu-item
                                    a.b-header__menu-link(href="/services.html") SERVICES
                                li.b-header__menu-item
                                    a.b-header__menu-link.is-active(href="/projects.html") Projects
                                li.b-header__menu-item
                                    a.b-header__menu-link(href="/careers.html") Careers
                                li.b-header__menu-item
                                    a.b-header__menu-link(href="/contacts.html") Contacts eee
                        .b-header__phone
                            a(href="tel:+61414084941") +6 141 408 49 41
                    .b-header__hamburger.j-burger
                        span.b-header__hamburger-line
                        span.b-header__hamburger-line
                        span.b-header__hamburger-line
                        span.b-header__hamburger-line
            .container
                .b-page
                    .b-page__inner.b-page__ttl-block.b-projects__ttl-block
                        h1 Projects
                    .b-tabs__list.b-projects__tabs
                        button.j-tabs-link.b-tabs__link.is-active(data-link="residential" data-json="/json/residential.json") residential
                        button.j-tabs-link.b-tabs__link(data-link="commercial" data-json="/json/commercial.json") commercial
                        button.j-tabs-link.b-tabs__link(data-link="industrial" data-json="/json/industrial.json") industrial
                        button.j-tabs-link.b-tabs__link(data-link="privat" data-json="/json/privat.json") privat
                        button.j-tabs-link.b-tabs__link(data-link="civil" data-json="/json/civil.json") civil
                    .b-tabs__content
            .b-popup.mfp-hide(id="popup")
            include ../../www/img/sprite/sprite.svg
            script(src="/scripts/jquery-3.2.1.min.js")
            script(src="/scripts/lib/slick-carousel/slick/slick.js")
            script(src="/scripts/lib/handlebars/handlebars.js")
            script(src="/scripts/lib/jquery-touchswipe/jquery.touchSwipe.js")
            script(src="/scripts/jquery.magnific-popup.min.js")
            script(src="/scripts/app.js")
