include mixins/_svg-sprite
include blocks/_layout
    block title
        title Projects
    body
        .l-wrap
            .b-page__wrap
                block header
                    -var current = 'projects'
                    include blocks/_header
                block content
                    .container
                        .b-page
                            .b-page__inner.b-page__ttl-block.b-projects__ttl-block
                                h1 Projects
                            .b-tabs__list.b-projects__tabs
                                button.j-tabs-link.b-tabs__link.is-active(data-link="residential" data-json="json/residential.json") residential
                                button.j-tabs-link.b-tabs__link(data-link="commercial" data-json="json/commercial.json") commercial
                                button.j-tabs-link.b-tabs__link(data-link="industrial" data-json="json/industrial.json") industrial
                                button.j-tabs-link.b-tabs__link(data-link="privat" data-json="json/privat.json") privat
                                button.j-tabs-link.b-tabs__link(data-link="civil" data-json="json/civil.json") civil
                            .b-tabs__content
            .b-popup.mfp-hide(id="popup")
    block scripts
        script(src="scripts/lib/handlebars/handlebars.js")
        script(src="scripts/lib/jquery-touchswipe/jquery.touchSwipe.js")
        script(src="scripts/jquery.magnific-popup.min.js")
