include mixins/_svg-sprite
include blocks/_layout
    block title
        title Services
    body
        .l-wrap
            .b-page__wrap
                block header
                    -var current = 'services'
                    include blocks/_header
                block content
                    .container
                        .b-page
                            .b-page__inner.b-page__ttl-block
                                h1 What we do
                                .b-page__ttl We provide full structural engineering support from preliminary consultation and general ideas to working documentation and site supervision.
                                    p We also work as sub-contractors and conduct separate works from structural engineering to Revit modelling/drafting.
                                    p XTF works with all types of structures and materials:
                                    ul
                                        li RC, including foundations;
                                        li Posttension and pretension structures;
                                        li Steel structures;
                                        li Blockwork and brickwork;
                                        li Timber structures.
                    .b-about__advantages
                        .container
                            h2.b-about__advantages-slogan With XTF, you save time and money without losing out on quality.
                            .b-about__advantages-inner
                                .b-about__advantages-block.b-services__advantages-block
                                    .b-about__advantages-block-icon
                                        +svg('design')
                                    .b-about__advantages-block-txt
                                        h2 Engineering and Design
                                        p XTF’s engineers use 3D analytical models and the finite elements method for maximum accuracy of calculation. Every 3D analytical model takes into account all aspects of building exploitation and mutual influence of all elements by considering all loads.
                                        p All engineering decisions are made by considering top levels of safety and reliability as well as simplicity and convenience of implementation.
                                        p These factors let us design projects with the lowest cost of realisation, in the shortest terms, and provide our clients with 100% guarantees of quality, safety, and comfort.
                                .b-about__advantages-block.b-services__advantages-block
                                    .b-about__advantages-block-icon
                                        +svg('modeling')
                                    .b-about__advantages-block-txt
                                        h2 Modeling and drafting
                                        p BIM is a 3D digital representation of the physical and functional characteristics of a building. Using BIM technologies helps to significantly take the quality of documentation to the top level.
                                        p The differential peculiarities of our work:
                                        ul
                                            li The highest level of developmental work for every element and for every detail;
                                            li All structural drawings contain all necessary schedules for development, including dimensions and weights;
                                            li There are no typical ‘copy-paste’ details because we design every project individually;
                                            li Depending on clients’ needs, we can provide different levels of detailing: from sketches to detailed drawings with all schedules and materials requirements for the object.
                                .b-about__advantages-block.b-services__advantages-block
                                    .b-about__advantages-block-icon
                                        +svg('optimizing')
                                    .b-about__advantages-block-txt
                                        h2 Optimizing, detailing, scheduling.
                                        p XTF works with others projects:
                                        ul
                                            li Updating;
                                            li Optimizing;
                                            li Modelling in BIM;
                                            li Detailing;
                                            li Workshop drawings;
                                            li Scheduling;
                                            li Other.
