.b-home__slider-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray;
    z-index: -1;
    
    @media #{$big-up} {
        height: 100vh;
    }
}

.b-home__slider-content {
    @include push(2);
    @include post(2);
    @include padding-leader(3);
    @include padding-trailer(4);
    
    @media #{$medium-up} {
        position: absolute;
        top: 40%;
        transform: translateY(-40%);
    }
    
    @media #{$large-up} {
        @include margin-leader(3);
        @include push(5);
        @include post(4);
        top: 43%;
    }

    @media #{$xlarge-up} {
        @include push(7);
        @include post(5);
        top: 40%;
    }

    h1 {
        color: $yellow;

        @media #{$large-only} {
            br {
                display: none;
            }
        }
    }

    &.is-hor-mobile {
        position: relative;
        transform: none;
    }
}

.b-home__slider-content-ttl {
    @include margin-trailer(1.5);

    @media #{$medium-up} {
        @include margin-trailer(3);
    }
}

.b-home__slider-content-subttl {
    color: $lightGray;

    @media #{$large-up} {
        @include column(36);
        font-size: 22px;
        line-height: 30px;
    }

    @media #{$xlarge-up} {
        @include column(27);
    }
}

.slick-slide div {
    min-height: 100vh;
}
