.b-icons__svg {
    display: none;
}

.b-icon__responsibility {
    width: 52px;
    height: 52px;
}

.b-icon__international {
    width: 49px;
    height: 49px;
}

.b-icon__cost {
    width: 56px;
    height: 56px;
}

.b-icon__24hours {
    width: 52px;
    height: 52px;
}

.b-icon__arrow {
    width: 16px;
    height: 9px;
    fill: $yellow;
}

.b-icon__arrow-album {
    width: 18px;
    height: 18px;
    fill: $lightGray;
}

.b-icon__design {
     width: 52px;
     height: 52px;
}

.b-icon__modeling {
    width: 52px;
    height: 52px;
}

.b-icon__optimizing {
    width: 52px;
    height: 52px;
}

.b-icon__logo {
    width: 60px;
    height: 30px;
    
    @media #{$medium-up} {
        width: 80px;
        height: 40px;
    }
    
    @media #{$large-up} {
        width: 90px;
        height: 45px;
    }
}