.b-gallery__link {
  display: none;
}

.b-popup {
  position: relative;
}

.b-popup__content {
  width: 60%;
  margin: 0 auto;
}

.b-popup__content-inner {
  @include padding-leader(10);
}

.mfp-close {
  color: $yellow !important;
  text-indent: 99999px;
  background: url('../img/close.svg') 100% 0 no-repeat !important;
  top: -7px;
  height: 25px;
  right: -30px !important;

  @media #{$medium-up} {
    top: -20px;
    right: -50px !important;
  }
}

.mfp-close:active {
  top: -20px;
}

.mfp-content {
  @include margin-leader(5);
  vertical-align: top;
  height: 100%;

  @media #{$medium-up} {
    @include margin-leader(0);
    vertical-align: middle;
    height: auto;
  }
  
  @media #{$large-up} {
    @include margin-leader(5);
    vertical-align: top;
  }
}

.mfp-image-holder .mfp-content {
  max-width: 75%;

  @media #{$medium-up} {
    max-width: 60%;
  }
}

.mfp-title {
  padding-right: 0;
}

.mfp-figure:after {
  background: transparent;
  box-shadow: none;
}

.mfp-bottom-bar {
  position: relative;
}

.mfp-counter {
  display: none;
}

.mfp-bg {
  height: 100% !important;
}

// Magnific reset
.mfp-wrap {
  opacity: 1; // theme style
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.mfp-container {
  padding: 0;
  overflow-x: hidden;
}

.mfp-arrow {
  @media #{$small-only} {
      display: none !important;
  }
}

img.mfp-img {
  @include padding-trailer(3);
  max-height: 300px !important;

  @media #{$large-up} {
    max-height: 500px !important;
  }

  @media #{$xlarge-up} {
    max-height: 600px !important;
  }
}