.slick-slide {
    display: block !important;
    filter: blur(2px);

    div {
        height: 100%;
    }
}

.slick-list,
.slick-track,
.slick-slider {
    height: 100%;
}

.b-slider__item {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.b-home__slider-item {
    background-color: $gray;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: .25;
}

.slick-arrow {
    background-color: transparent;
    border: none;
    text-indent: 999999px;
    position: absolute;
    top: 50%;
    right: -50px;
    width: 20px;
    height: 40px;
    cursor: pointer;
    background: url('../img/arrow-gallery.svg') no-repeat 0 0;
    outline: none;
}

.slick-prev {
    transform: rotate(-180deg);
    right: auto;
    left: -50px;
}