.b-tabs__list {
    @include margin-trailer(2);
    display: flex;
    flex-wrap: wrap;
    
    @media #{$medium-up} {
        @include margin-trailer(4);
        justify-content: space-between;
    }
}

.b-tabs__link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 22px;
    outline: none;
    
    @media #{$small-only} {
        @include margin-trailer(2);
        @include post(.5);
    }

    &.is-active {
        position: relative;

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: $yellow;
            display: block;
            overflow: hidden;
            content: '';
            width: 40px;
            height: 50px;
            transform: translateX(-50%) translateY(-50%);
            z-index: -1;
        }
    }
}

.b-tabs__link_lang_ru {
    @include margin-trailer(1);
    font-size: 13px;
    line-height: 16px;

    @media #{$large-up} {
        font-size: 16px;
        line-height: 20px;
    }
}