// INCLUDE FONTS
@include font(calibri, 'Calibri', 100);
@include font(broadway, 'broadway', 300);

// PARAGRAPH
$paragraph-margin-bottom: 1; // rhythm unit
p {
    @include margin-trailer($paragraph-margin-bottom);
}

// LINKS
$link-color: $yellow;
$link-color-hover: lighten($link-color, 5%);
$link-color-active: darken($link-color, 5%); // :active state
$link-text-decoration: reset;

a {
    color: $link-color;

    @if ($link-text-decoration == 'normal') {
        text-decoration: none;
    } @else if ($link-text-decoration == 'invert') {
        text-decoration: underline;
    } @else if ($link-text-decoration == 'reset') {
        text-decoration: none;
    }

    @media #{$large-up} {
        &:hover {
            @if ($link-text-decoration == 'normal') {
                text-decoration: underline;
            } @else if ($link-text-decoration == 'invert') {
                text-decoration: none;
            } @else if ($link-text-decoration == 'reset') {
                text-decoration: none;
            }
        }

        &:active {
            color: $link-color-active;
        }
    }
}

// LISTS
$list-color: $fontColor;
$list-bullet-color: $yellow;
$list-line-height: 28px;
$list-sublist-padding-left: 2; // gutter value
$list-margin-bottom: $paragraph-margin-bottom; // rhythm unit

// b, strong
b,
strong {
    font-family: $font;
    font-weight: 700;
}

// i, em
i,
em {
    font-family: $font;
    font-style: italic;
}

// HEADINGS
h1 {
    $fz: (28px 34px) (40px 46px) (44px 50px) (66px 70px);
    @include font-size($fz);
    font-weight: 400;
}

h2 {
    $fz: (22px 26px) (28px 32px) (24px 24px) (24px 24px);
    @include font-size($fz);
    text-transform: uppercase;
}

h3 {
    $fz: (16px 20px) (20px 24px) (24px 26px) (24px 26px);
    @include font-size($fz);
}

h4 {
    $fz: (14px 22px) (14px 22px) (17px 28px) (17px 28px);
    @include font-size($fz);
}

h5 {
    $fz: (14px 22px) (14px 22px) (15px 24px) (15px 24px);
    @include font-size($fz);
}

h6 {
    $fz: (12px 20px) (12px 20px) (14px 22px) (14px 22px);
    @include font-size($fz);
}