<div class="b-projects__albums-wrap">
    {{#each this}}
        <a href="#popup" class="b-projects__album j-popup" data-name="{{name}}">
            <img src="{{preview}}"/>
            <div class="b-projects__album-overlay">
                <div class="b-projects__album-link">{{name}}
                    <svg class="b-icon__arrow-album ">
                        <use xlink:href="http://localhost:63342/xtf(dev)/www/img/sprite/sprite.svg#arrow-album"></use>
                    </svg>
                </div>
            </div>
        </a>
    {{/each}}
</div>
